@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.button {
  font-family: inherit;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
}

.selection-head {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
   text-align: left;
}

.number-selected {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  }

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.nav-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.main-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: white;
}

.breadcrumbs {
  color: white;
}

.breadcrumbs-link {
  color: inherit
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.catalog-filter-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: white;
  text-align: center;
}

.advantages-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background-color: white;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;

}

.advantages-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.features-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-transform: uppercase;
}

.features-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

.advantages-item-white {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.interes {
  font-family: inherit;
  text-align: center;
  background-color: #ffffff;
}

.interes-head {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}


.interes-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.mailing-list {
  background-image: url("../img/background-mail.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}

.filter-background {
  background-image: url("../img/hotels-Sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}

.submit-button {
  background-color: #83B3D3;
  text-align: center;
}
.button-light {
    background-color: white;
  color: black;
}

.product-card-link {
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 31px;
text-align: center;
text-decoration: none; 
color:black
}

.product-type {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}

.product-rating {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
 }
.features-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;

}

.features-item-blue {
  background-color: #83B3D31F;

}

.features-title-white {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.features-text-white {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: white;
}

.advantage-cube-blue {
  background-color: #83B3D3;
}

.features-item-white {
  background-color: white;
}

.advantages-item-gray {
  background-color: #83B3D333;
}

.mailing-subscription {
  font-family: inherit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: white;

}

.mailing-list-text {
  font-family: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: white;
}

.telephone {
  font-family: inherit;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: black;
  text-decoration: none;
}

.pagination {
  background-color:white;
  }

.pagination-link {
  color: white;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-current {
  color: black;
  background-color: #FFFFFF;
}

